doctype html
head
  style.
    .mainCls {
    box-shadow: 0 7px 15px rgba(0,0,0,0.1);
    }
    .mainDivCls {
    margin-top: 1%;
    margin-left: 3%;
    margin-right:3%;
    margin-bottom: 5%
    }
    p, h3, ul {
    font-family: sans-serif;
    }
    a {
    font-family: sans-serif;
    }
.mainDivCls
  div
    h4
      b Hi,
    p
      | Your account as been created by Geturtrip Admin. 
      | Please use below url and password to login and we request you to change your password once logged in.
      br
      br
      |  URL :
      a(href= "http://localhost:4200/admin")
        b click here
      br
      |  Password:
      b 
        span= id
