head
  meta(http-equiv='refresh' content='5;url=http://thisinterestsme.com/detecting-ajax-requests-with-php/')
  style.
    .body {
    margin: 10px;
    }
    .mainDiv {
    background-color: #efebe5;
    border: 1px solid #dcdcdc;
    border-radius: 5px 5px 0px 0px;
    height: 730px;
    padding: 10px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }
    .flex {
    display: flex;
    }
    .infoEmptyDiv {
    width: 70%;
    }
    .infoDiv {
    width: 30%;
    }
    .fareDetailsMain {
    width: 98.6%;
    height: 125px;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    border-left-style: solid;
    border-left-color: #000000;
    border-left-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-color: #000000;
    border-right-width: 2px;
    }
.mainDiv
  .flex
    .infoEmptyDiv
    .infoDiv
      div(style='font-size: 19px') Indian Gamers
      div(style='font-size: 14px;color: #7d7979;')
        | Email: admin@geturtrip.com
      div(style='font-size: 14px;color: #7d7979;') Phone: 9000140005
      div(style='font-size: 14px;color: #7d7979;')
        | Address: 5-1014/4/11, Panchsheel, Alwal, Hyderabad, Medchal
        | Hyderabad Telangana India 500010
  .flex(style='border-top: 2px solid #000;height:100px')
    div(style='width:50%; border-right: 2px solid #000; padding: 10px')
      div(style='font-size: 17px;color: #7d7979;padding-bottom: 5px;') Booking Time: May 11, 2020 11:05 AM
      div(style='font-size: 17px;color: #7d7979;padding-bottom: 5px;') Booking ID: TJS107100000034
      div(style='font-size: 17px;color: #7d7979;padding-bottom: 5px;')
        | Booking Status: 
        span(style='color: #000; font-weight: 600;') Confirmed
    .flex(style='width:50%;')
      div(style='padding: 7% 0% 7% 2%; margin-right: 4%')
        img(src='https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/SG.png?v=4' style='width: 35px; height: 35px;' alt='airlineImage')
      div(style='font-size: 14px;color: #7d7979;padding: 9% 0%;margin-right: 30%;') SpiceJet
      div(style='padding-top: 6%;')
        div(style='font-size: 25px;') TestPNR
        div(style='font-size: 14px;color: #7d7979;') Airline PNR
  .flex(style='width:96%;background-color:#000;height:30px;justify-content:space-between;align-items:center;color:#fff;padding:0% 2%')
    div Flight Details
    div *Please verify flight timings and terminal info with the airlines
  div
    table(style='width:96%')
      tr(style='background-color:#7d7979')
        th Flight
        th Class
        th Type
        th Departing
        th Arriving
        th Duration
      tr(style='text-align:center;')
        td
          | SG - 415
          br
          span(style='font-size:12px; color:#7d7979') SpiceJet
        td(style='font-size:12px; color:#7d7979') Economy
        td(style='font-size:12px; color:#7d7979') Partial Refundable
        td
          | Sat, Oct-24, 18:05
          br
          span(style='font-size:12px; color:#7d7979') Mumbai, Terminal 2
          br
          span(style='font-size:12px; color:#7d7979') Chatrapathi Shivaji
        td
          | Sat, Oct-24, 19:55
          br
          span(style='font-size:12px; color:#7d7979') Bengaluru, Terminal 1
          br
          span(style='font-size:12px; color:#7d7979') Bengaluru Intl Airport
        td 01h 50m
  .flex(style='width:96%;background-color:#000;height:30px;justify-content:space-between;align-items:center;color:#fff;padding:0% 2%')
    div Passenger Details
  div
    table(style='width:96%')
      tr(style='background-color:#7d7979')
        th Sr
        th Name &amp; FF
        th Sector
        th PNR &amp; Ticket No
        th Baggage
        th Meal, Seat &amp; Other Preference
      tr(style='text-align:center;')
        td 1
        td Mr. Sachin Agarwal (A)
        td BOM-BLR
        td TestPNR
        td 15KG | 7KG
        td NA
  .flex(style='width:96%;background-color:#000;height:30px;justify-content:space-between;align-items:center;color:#fff;padding:0% 2%')
    div Fare Details
  .flex.fareDetailsMain
    div(style='width:50%')
      div BasePrice
      div Airline Taxes and Fees
      div Management Fee
      div Meal/Seat/Baggage/Misc Charges
      div Management Fee GST
      div Total Price
    div(style='width:50%')
      div &#x20B9; 2169.50
      div (AT487 RCF50 AG536) &#x20B9; 673.00
      div &#x20B9; 15.00
      div &#x20B9; 0.00
      div &#x20B9; 2.70
      div &#x20B9; 3270.00
  .flex(style='width:96%;background-color:#000;height:30px;justify-content:space-between;align-items:center;color:#fff;padding:0% 2%')
    div Important Information
  div(style='margin-top: 1%;padding-left: 1%;')
    div 1 - You should carry a print out of your booking and present for check in.
    div 2 - Date &amp; Time is calculated based on the local time of city/destination.
    div 3 - Use the Reference Number for all Correspondence directly with the Airline
    div 4 - Use the Airline PNR for all Correspondence directly with the Airline.
    div 5 - For departure terminal please check with airline first.
    div
      | 6 - Please Checkin atleast 2 hours prior to the departure for domestic flight and 3 hours prior to the departure of international flight.
    div
      | 7 - For rescheduling/cancellation within 4 hours of departure time contact the airline directly.
